#banner {
  background:
   linear-gradient(
     rgba(0, 0, 0, 0.2),
     rgba(0, 0, 0, 0.2)
     ),
   image-url("restaurant.jpg");
  padding:300px 90px;
}

#features {
  color:white;
  padding: 30px;
}

#form h2 {
  color: rgb(150,150,150);
  margin:0;
  line-height: 1.7;
}

#form p {
  color: rgb(150,150,150);
  line-height: 1.8;
}
