---
title: Le Wagon Middleman boilerplate
---

  <div id="banner" class="text-center window-height">
    <button class="btn btn-danger btn-lg transition-duration hover-positivescale cursor-pointer" data-toggle="modal" data-target="#myModal">GET NEEDL</button>

  </div>

  <div class="bg-red">
    <div class="container">
      <div id="features" class="text-center">
        <div class="row">
          <div class="col-xs-12 col-md-4" data-sr="wait 0.1s, enter left, hustle 100px">
            <%= image_tag "friends.png", class: "transition-duration heavy-opacity blur hover-negativescale image-hover-unblur"%>
            <h3>Amis</h3>
            <p>Vos meilleurs amis en guise de testeurs</p>
          </div>
          <div class="col-xs-12 col-md-4">
            <%= image_tag "rest.png", class: "transition-duration heavy-opacity blur hover-negativescale image-hover-unblur"%>
            <h3>Restaurants</h3>
            <p>Qui vous livrent leurs restaurants préférés</p>
          </div>
          <div class="col-xs-12 col-md-4" data-sr="wait 0.1s, enter right, hustle 100px">
            <%= image_tag "map.png", class: "transition-duration heavy-opacity blur hover-negativescale image-hover-unblur"%>
            <h3>Carte</h3>
            <p>Géolocalisés sur votre carte de Paris</p>
          </div>
        </div>
      </div>
    </div>
   </div>

  <div class="container">
    <div id="form" class="text-center padded">
      <h2>Soyez testeurs de la Béta</h2>
      <p>Soyez le premier à avoir des nouvelles de Needl</p>
      <form action='/' class="form-inline">
        <input type="email" class="form-control" placeholder="votre email">
        <input type="submit" value="Ici" class="btn btn-danger">
      </form>
    </div>
  </div>

  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Renseignez votre adresse mail pour tester la Béta</h4>
        </div>
      <div class="modal-body">
        <form action='/' class="form-inline">
        <input type="email" class="form-control" placeholder="votre email">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Retour</button>
        <button type="button" class="btn btn-danger">Je m'inscris</button>
      </div>
    </div>
  </div>
</div>
