---
title: La team qui tue
---

<div class="container text-center" id="team" >
  <div class="row">
    <h1>The team behind the magic</h1>
      <%data.team.each do |team_member| %>
        <div class="col-xs-6">
          <div class="row">
            <%= team_member.name %>
          </div>
          <div class="row">
            <br>
            <%= image_tag team_member.image %>
          </div>
          <div class="row">
            <br>
            <%= team_member.content %>
          </div>
        </div>
      <% end %>
  </div>
</div>
